body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;


  &.left {
    border-left-color: #000;
    border-left-width: 2px;
  }

  &.right {
    border-right-width: 2px;
    border-right-color: #000;
  }

  &.top {
    border-top-width: 2px;
    border-top-color: #000;
  }

  &.bottom {
    border-bottom-width: 2px;
    border-bottom-color: #000;
  }

  &:focus {
    outline: none;
  }

  &:hover {
    background: antiquewhite;
  }

  &.disabled {
    background: lightcoral;

    :hover {
      background: lightcoral;
    }
  }

  &.finished {
    &.playera {
      background: gold;

      &:hover {
        background: antiquewhite;
      }
    }

    &.playerb {
      background: aqua;

      &:hover {
        background: antiquewhite;
      }
    }

    &.disabled {
      &.playera {
        background-image: linear-gradient(45deg, gold 25%, lightcoral 25%, lightcoral 50%, gold 50%, gold 75%, lightcoral 75%, lightcoral 100%);
      }

      &.playerb {
        background-image: linear-gradient(135deg, aqua 25%, lightcoral 25%, lightcoral 50%, aqua 50%, aqua 75%, lightcoral 75%, lightcoral 100%);
      }
    }
  }
}

.kbd-navigation {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
